body{
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0;
}
.header{
    background-color: transparent;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0;
    display: inline-flex;
    padding: 10px;
}
.header img{
    width: 50px;
    margin-left: 10px;
}
.header button{
    background-color: transparent;
    color: #fff;
    font-size: 26px;
    padding: 2px 12px 2px 12px;
    border: 2px white solid;
    height: 46px;
    border-radius: 23px;
    position: relative;
    margin-left: 30px;
    z-index: 1000;
    text-decoration: none;
}
.home_background{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}
.mainLogo{
    position: fixed;
    top: 10%;
    display: grid;
    z-index: 1000;
}
.home_logo{
    display: block;
    position: fixed;
    z-index: 1000;
    width: 30%;
    left: 5%;
}
.prayatn{
    position: fixed;
    z-index: 1000;
    width: 20%;
    left: 10%;
    top: 55%;
}
#home_initiative{
    display: block;
    position: fixed;
    bottom: 10px;
    left: 6%;
    color: white;
    text-align: center;
    z-index: 1000;
}
#home_initiative h2, h1{
    margin: 0;
}
#what_we_do_text{
    position: fixed;
    width: 30%;
    left: 10%;
    top: 20%;
    font-size: 20px;
    color: #fff;
    z-index: 1000;
    opacity: 0;
}
.text_fade_in{
    animation-name: textFadeIn;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}
.text_fade_out{
    animation-name: textFadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards
}



@keyframes textFadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes textFadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}

.contribute_container{
    width: 100%;
    height: 100%;
}

.contribute_panel{
    display: inline-flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    top: 20%;
    height: 50%;
}

.facts{
    position: relative;
    width: 30%;
    background: rgb(183, 183, 183);
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    transform: translateX(12%);
}
.payment{
    position: relative;
    width: 30%;
    background: rgb(183, 183, 183);
    height: 100%;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    transform: translateX(-12%);
}

.move_logo_down{
    animation-name: moveLogoDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.move_text_down{
    animation-name: moveTextDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.move_logo_up{
    animation-name: moveLogoUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.move_text_up{
    animation-name: moveTextUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes moveLogoDown{
    from {width: 30%; top: 15%;}
    to {width: 7%; top: 85%;}
}
@keyframes moveTextDown{
    from {width: 20%; top: 60%; left: 10%;}
    to {width: 12%; top: 86.5%; left: 10%;}
}
@keyframes moveLogoUp{
    from {width: 7%; top: 85%;}
    to {width: 30%; top: 15%;}
}
@keyframes moveTextUp{
    from {width: 12%; top: 86.5%; left: 10%;}
    to {width: 20%; top: 60%; left: 10%;}
}
.contribute_footer{
    width: 100%;
    position: fixed;
    top: 190%;
    left: 0;
    display: inline-flex;
}
.contribute_footer .logo_footer{
    width: 100px;
    transform: translateY(-10px);
}
.contribute_footer .prayatn_footer{
    width: 200px;
}



@media(max-width: 992px){
    .header{
        width: 100%;
        background-color: transparent;
    }
    .header img{
        width: 100px;
    }
    .header button{
        background-color: transparent;
        color: #fff;
        font-size: 36px;
        padding: 2px 20px 2px 20px;
        border: 6px white solid;
        height: 80px;
        border-radius: 40px;
        position: relative;
        top: 10px;
        margin-left: 30px;
        z-index: 1000;
        text-decoration: none;
    }
    .contribute_panel{
        display: block;
        height: 80%;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .contribute_footer{
        top: 195%;
    }
    .contribute_panel div{
        width: 90%;
        transform: none;
        height: 40%;
        left: 5%;
        margin-bottom: 5%;
    }
    .home_logo{
        width: 100%;
        left: 0%;
    }
    .prayatn{
        width: 70%;
        left: 15%;
    }
    #what_we_do_text{
        width: 70%;
        left: 15%;
        font-size: 40px;
    }
    @keyframes moveLogoDown{
        from {width: 100%; top: 15%;}
        to {width: 20%; top: 90%;}
    }
    @keyframes moveLogoUp{
        from {width: 20%; top: 90%;}
        to {width: 100%; top: 15%;}
    }
    @keyframes moveTextDown{
        from {width: 70%; top: 60%;}
        to {width: 30%; top: 92%;}
    }
    @keyframes moveTextUp{
        from {width: 30%; top: 92%;}
        to {width: 70%; top: 60%;}
    }
    #home_initiative{
        font-size: 30px;
        text-align: left;
    }
    .home_background{
        display: none;
    }
}