
.heading{
    text-align: center;
    font-family: GraublauWeb, serif;
    font-size: 5em;
    letter-spacing: 7px;
    color: whitesmoke;
    border: 5px solid white;
    display: inline-block;
    padding: 5px 15px 0 15px ;
}

.header{
    text-align: center;

}

@font-face {
    font-family: GraublauWeb;
    font-weight: 900;
    src: url("fonts/Komoda.otf") format("opentype");
}

@font-face {
    font-family: GogoiaWeb;
    font-weight: 900;
    src: url("fonts/GOGOIA-Regular.otf") format("opentype");
}

.main section  {
    overflow: hidden;
}

.first_page{

}

.s1{
    color: black;
    border: 5px solid black;
}

.second_page{
background-color: #7f53ac;
background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    /*background-image: url("images/Dark-Grey-Background-Photo-HD-Wallpaper-2nwk9-Free.jpeg");*/
    background-size: cover;
}

.h2{

}

.s2{
    border: none;
    position: relative;
    left: -15vw;
    padding: 4px 30px 0 30px ;
    top: -0.6em;
}

.we{
    /*background: linear-gradient(to right top,red, darkviolet, red, darkviolet, red);*/
    background: linear-gradient(to right top, limegreen, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    letter-spacing: 10px;
}

.third_page{
    /*background-image: url("images/Dark-Grey-Background-Photo-HD-Wallpaper-2nwk9-Free.jpeg");*/
    /*background: #f5f7fa;*/
    background: linear-gradient(to right, #93a5cf, #e4efe9);
    background-size: cover;
}

.s3{
    font-family: GogoiaWeb, sans-serif;
    letter-spacing: 7px;
    border: none;
    color: black;
    position: relative;
    left: -3em;
    top: -1em;
}

.qm {
    background: -webkit-linear-gradient(90deg, red, darkviolet, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200px 200px;
    color: black;
    font-size: 2em;
    position: relative;
    top: 10px;
}
    /*animation: hue 5s infinite linear;*/
    /*animation-fill-mode: forwards;*/
/*}*/

@-webkit-keyframes hue {
    from {
        background: -webkit-linear-gradient(left , red, darkviolet, red);
    }
    to {
        background: -webkit-linear-gradient(90deg , red, orangered, darkviolet, mediumvioletred, red);
    }
}


.fourth_page{
    background-image: url("images/Dark-Grey-Background-Photo-HD-Wallpaper-2nwk9-Free.jpeg");
    background-size: cover;
}

.s4{

}


.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
    margin-right: 2em;
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}



.live {
  overflow: hidden;
}
.live > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 .5em 10px;
  transition: .12s;
}
.live > li::before {
  position: absolute;
  content: '\2022';
  font-family: Arial;
  color: #FFF;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  opacity: .5;
  line-height: .75;
  transition: .5s;
}
.live > li:hover {
  color: #FFF;
}
.live > li:hover::before {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
  text-shadow: 0 0 4px;
  transition: .1s;
}
.live.type2 > li::before {
  content: '';
  width: 10px;
  height: 10px;
  background: #FFF;
  border-radius: 3px;
  line-height: 0;
  top: .27em;
  left: 5px;
}
.live.type2 > li:hover::before {
  -webkit-transform: none;
          transform: none;
  border-radius: 5px;
  width: 25px;
  left: -10px;
  background: #BA5353;
}

.live.numbers {
  counter-reset: xxx 0;
}
.live.numbers > li::before {
  content: counter(xxx,decimal) ".";
  counter-increment: xxx 1;
  font-family: 'Roboto Condensed';
  font-size: 1em;
  opacity: .5;
  line-height: 1.4;
  transition: .5s;
}
.live.numbers > li:hover:before {
  opacity: 1;
  left: -10px;
  -webkit-transform: none;
          transform: none;
  text-shadow: none;
  transition: .12s;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format("woff");
}
html {
  height: 100%;
}

body {
  height: 100%;
  font: 1.73em 'Roboto Condensed', arial;
  color: #FFF;
  text-align: center;
  background-image: radial-gradient(circle, #3c3b52 0%, #252233 80%);
}

h1 {
  margin: .5em 0 0;
  padding: 0;
  text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: padding-box;
}

ol {

  width: 22em;
  height: 12em;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.5em;
  margin: 2%;
  position: relative;
  right:8em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.wrapper {
    height: 20em;
  width: 50em;
  margin: 0 auto;
}

.zoom-effect-container {
    float: right;
    position: relative;
    width: 640px;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
   right:2em; 
   

}
img
{height: 18em;
  border-radius: 5px;
width:auto;
position: relative;
right:2em;}

.image-card {
  position: absolute;
  top: 0;
  left: 0;

  
}


.image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

a{
  display: block;
  text-align:center;
  margin: 0 auto;
  width: 100%;
  color: #aaa;
}
